apiVersion: v1
kind: Secret
metadata:
  name: users-api-secret
  namespace: default
type: Opaque
stringData:
  CONNECTION_STRING: "Server=sqlserver-service,1433;Database=FCG_Users;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;"
  JWT_AUTHORITY: "https://cognito-idp.<REGION>.amazonaws.com/<USER_POOL_ID>"
  AWS_ACCESS_KEY_ID: "<YOUR_ACCESS_KEY_ID>"
  AWS_SECRET_ACCESS_KEY: "<YOUR_SECRET_ACCESS_KEY>"
  AWS_SESSION_TOKEN: "<YOUR_SESSION_TOKEN>"
  COGNITO_USER_POOL_ID: "<USER_POOL_ID>"
  COGNITO_CLIENT_ID: "<CLIENT_ID>"
  COGNITO_CLIENT_SECRET: "<CLIENT_SECRET>"
  ADMIN_EMAIL: "admin@fcg.com"
  ADMIN_PASSWORD: "Admin@123456"
